.notFound {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.notFoundTitle {
  color: #064ebc;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 10px;
}
.notFoundSubTitle {
  color: #000;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
