.cardsContent {
  display: flex;
  flex-wrap: wrap;
  gap: 88px;
}
.Card {
  width: 310px;
}
.userBar {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.userInfor{
  display: flex;
}
.userAvatar {
  margin-right: 15px;
}
.inFormation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.userName {
  color: #000;
  font-size: 17px;
  line-height: 24px;
}
.Date {
  color: #5b7083;
  font-size: 14px;
  line-height: 22.5px;
}
.iconGroup {
  display: flex;
  gap: 17px;
  align-items: start;
  cursor: pointer;
}
.desScription {
  font-size: 15px;
  margin-bottom: 15px;
}
